head
	title Clause Ingestor
	script(src='https://appsforoffice.microsoft.com/lib/1/hosted/Office.js')
	script(src='https://code.jquery.com/jquery-1.12.0.min.js')
	script(src='/javascripts/plugin.js')
