extends layout

block content
	h1= title
	p Prototype: Create a Term from selected language
	span(id='version') ver. 0.1
	hr

	form(id='grabber')
		button(type='submit') Get Clause Content

	hr

	form(id='creator')
		label(for='Client') Client
		input(type='text', name='Client')
		br
		label(for='ClauseName') Clause Name
		input(type='text', name='ClauseName')
		br
		label(for='ClauseContent') Clause Content
		input(type='text', name='ClauseContent')
		br
		button(type='submit') Build SXTerm

	hr
	div(id='output') OUTPUT GOES HERE


